<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="icon" href="/favicon.png" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Prompt:wght@400;500;700;800&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>ProjectLab -- Detail card</title>
  </head>

  <body class="body-details">
    <header class="header_detail">
      <a class="header_detail__link" href="/">
        <i class="header_detail__logo fa-solid fa-virus"></i>
        <p class="header_detail__name">ProjectLab</p>
      </a>
    <nav>
      <ul class="header_detail__menu">
        
          <li><a href="/" class="header_detail__menu--item">Home</a></li>

        
          <li><a href="/" class="header_detail__menu--item">Projects</a></li>
  
      </ul>
    </nav>
  </header>

    <section class="detailsPage">
      <img class="detailsPage__cover" src="<%=image%>" alt="<%=name%>" />
      <section class="detailsPage__line"></section>
      <section class="detailsPage__card">
        <section class="detailsPage__card--info">
          <h2 class="detailsPage__card--info--title"><%=name%></h2>
          <p class="detailsPage__card--info--slogan"><%=slogan%></p>
          <p class="detailsPage__card--info--desc"><%=desc%></p>
          <section class="detailsPage__card--info--technologies">
            <p class="text"><%=technologies%></p>
          </section>
          <div class="detailsPage__card--info--icons">
            <a href="<%=repo%>" target="_blank" rel="noreferrer"
              ><i
                class="detailsPage__card--info--icons--i fa-brands fa-github"
              ></i></a
            ><a href="<%=demo%>" target="_blank" rel="noreferrer"
              ><i
                class="detailsPage__card--info--icons--i fa-solid fa-globe"
              ></i
            ></a>
          </div>
        </section>
        <section class="detailsPage__card--autor">
          <img class="detailsPage__card--autor--img" src="<%=photo%>" alt="" />

          <p class="detailsPage__card--autor--name"><%=autor%></p>
          <p class="detailsPage__card--autor--job"><%=job%></p>
          
        </section>
      </section>
    </section>
  </body>
</html>
